<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="facebookSettings" type="Facebook.FacebookConfigurationSection"/>
	</configSections>
	<!--<httpHandlers>
    <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web"/>
  </httpHandlers>-->
	<connectionStrings>
		<!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
   providerName="System.Data.SqlClient" />-->
		<add name="gss_backend" connectionString="Data Source=184.168.109.8;Initial Catalog=GlobalSwapShop;User ID=barter_dev_dan;Password=5q3zwbtu" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Speech, Version=10.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="gss_backend" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="gss_backend" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add connectionStringName="gss_backend" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
			</providers>
		</roleManager>
		<globalization  fileEncoding="utf-8" requestEncoding ="utf-8" responseEncoding="utf-8"/>
		<httpHandlers>
		</httpHandlers>
		<pages clientIDMode="AutoID"></pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<handlers>
			<add name="facebookredirect" path="facebookredirect.axd" verb="*" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web"/>
		</handlers>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="webmaster@globalswapshop.com">
				<network userName="webmaster@globalswapshop.com" password="barter!@#$1234" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<!--<facebookSettings appId="92441484338" appSecret="c09ba77ae81555025cff00060c8642fa" />-->
	<facebookSettings appId="92441484338" appSecret="c09ba77ae81555025cff00060c8642fa" canvasPage="http://apps.facebook.com/globalswapshop/" canvasUrl="http://www.globalswapshop.com" siteUrl="http://www.globalswapshop.com"/>
	<appSettings>
		<add key="defaultCaptchaImagePath" value="~/_images/captcha/captcha1.png"/>
		<add key="appId" value="92441484338"/>
		<add key="appSecret" value="c09ba77ae81555025cff00060c8642fa"/>
		<add key="appName" value="Global Swap Shop"/>
		<add key="appUrl" value="http://apps.facebook.com/globalswapshop/"/>
	</appSettings>
</configuration>
