<?xml version="1.0"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
	  <httpHandlers>
			  </httpHandlers>
  </system.web>
	
	<system.net>
		<mailSettings>
			<smtp from="webmaster@globalswapshop.com">
				<network host="smtpout.secureserver.net" port="80"
						 userName="webmaster@globalswapshop.com" 
						 password="barter!@#$1234" defaultCredentials="true" />
			</smtp>
		</mailSettings>
	</system.net>


</configuration>
